.contactNoLogged {
  @include fullPage();
  @include flexCenter(row);
  max-width: 650px;
}

.form {
  @include flexCenter(column);
  margin: 50px 0 50px 0;
}

.form form {
  @include flexCenter(column);
  font-size: larger;
  button {
    @include OhOrangeButton();
  }
  * {
    margin: 5px;
  }
}

.contactMessages {
  @include flexCenter(row);
  max-width: 1600px;
  margin: 0 auto;
}

.contactMessage {
  max-width: 450px;
  width: 400px;
  height: 500px;
  background: white;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  h3 {
    padding: 5px;
    width: 100%;
    border-bottom: 2px solid $OhOrange;
  }
  h4 {
    padding: 10px;
  }
  h6 {
    width: 100%;
    border-bottom: 2px solid $OhOrange;
  }
}

.form h3 {
  padding: 50px;
}

.contactPage {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (min-width:900px) {

}

@media only screen and (max-width:900px) {

}
