* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #dedede;
}

.fullCenter {
  @include flexCenter(column);
  @include fullPage()
}

.center {
  @include flexCenter(column);
}

.fourOhFour {
  max-width: 500px;
  @include fullPage()
}

.fourOhFour h2 {
  margin-top: 50px;
  color: $OhOrange;
}

@media only screen and (min-width:900px) {
  .content {
    padding-top: 8vh;
  }
}

@media only screen and (max-width:900px) {
  .content {
    padding-top: 2vh;
    padding-bottom: 12vh;
  }
}
