* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #dedede;
}

.fullCenter {
  @include flexCenter(column);
  @include fullPage()
}

.center {
  @include flexCenter(column);
}

.fourOhFour {
  max-width: 500px;
  @include fullPage()
}

.fourOhFour h2 {
  margin-top: 50px;
  color: $OhOrange;
}

.popup {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  //background: rgba(169, 169, 169, 0.4);
  z-index: 7;
  h4 {
    @include flexCenter(column);
    margin-top: 8vh;
    background: $OhOrange;
    color: white;
    border-radius: 10%;
    width: 300px;
    height: 100px;
  }
}

@media only screen and (min-width:900px) {
  .content {
    padding-top: 8vh;
  }
}

@media only screen and (max-width:900px) {
  .content {
    padding-top: 2vh;
    padding-bottom: 12vh;
  }
}
