.banner {
  @include flexCenter(row);
  @include fullPage();
  .info {
    margin: 0 auto;
    color: $OhOrange;
    font-family: Helvetica, cursive;
    text-align: center;
  }
  .product {
    margin: 0 auto;
    border-radius: 10px 10px 10px 15px;
    background-size: 160% 100%;
    background-position: center;
  }
}

.secondBanner {
  background: #5e5e5e;
  .image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    font-size: xx-large;
    transition: 0.4s all ease-in-out;
    margin-top: 10px;
    margin-bottom: 10px;
    @include flexCenter(column);
    h1 {
      color: white;
      background: rgba(249, 103, 59, 0.5);
    }
  }
}

.thirdBanner {
  background: linear-gradient(90deg, $OhOrange 20%, #f1f0f0 10%);
  background-size: 100% 100%;
  img {
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;
    transform: rotate(180deg);
  }
  span {
    letter-spacing: 1.5px;
    font-family: Helvetica, cursive;
    text-align: center;
    h1 {
      color: #5e5e5e;
    }
  }
}

.fourthBanner {
  background: linear-gradient(340deg, #a8a8a8 20%, #f1f0f0 10%);
  background-size: 100% 100%;
  img {
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
    max-width: 800px;
    height: 600px;
  }
  span {
    max-width: 700px;
    color: #2b2b2b;
    letter-spacing: 2px;
    font-size: 2em;
    font-family: Helvetica, cursive;
    text-align: center;
    h1 {
      margin-bottom: 30px;
      color: $OhOrange;
    }
  }
}

.fifthBanner {
  background: #f1f0f0;
  img {
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;
    max-width: 800px;
    height: 600px;
  }
  span {
    max-width: 700px;
    color: $OhOrange;
    letter-spacing: 2px;
    font-size: 2em;
    font-family: Helvetica, cursive;
    text-align: center;
    h1 {
      margin-bottom: 30px;
      color: #2b2b2b;
    }
  }
}

.sixthBanner {
  hr {
    width: 50%;
    background: grey;
  }
  span {
    border-bottom: 1px solid darkgrey;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    background: whitesmoke;
    width: 350px;
    max-width: 350px;
    height: 500px;
    text-align: center;
    @include flexCenter(column);
    margin-top: 10px;
    margin-bottom: 10px;
    h1 {
      color: $OhOrange;
    }
  }
}

.seventhBanner {
  flex-direction: column;
  text-align: center;
  h1 {
    margin-bottom: 20px;
  }
  a h1 {
    color: $OhOrange;
    transition: 0.4s all ease-in-out;
  }
}

.partialBanner {
  width: 100%;
  min-height: 70vh;
  @include flexCenter(row);
  justify-content: space-around;
}

@media only screen and (min-width:1500px) {
  .thirdBanner {
    img {
      max-width: 800px;
      height: 550px;
    }
    span {
      max-width: 700px;
      h1 {
        margin-bottom: 30px;
      }
    }
  }
}

@media only screen and (max-width:1500px) {
  .info {
    font-size: 4em;
    max-width: 400px;
  }
  .product {
    width: 500px;
    height: 70vh;
  }
  .thirdBanner {
    img {
      max-width: 550px;
      height: 400px;
    }
    span {
      max-width: 450px;
      h1 {
        margin-bottom: 30px;
        font-size: 2em;
      }
    }
  }
}

@media only screen and (min-width:1400px) {
  .info {
    font-size: 5em;
    max-width: 800px;
  }
  .product {
    width: 700px;
    height: 80vh;
  }
}

@media only screen and (min-width:1000px) {
  .image {
    height: 55vh;
    width: 400px;
    max-width: 600px;
    font-size: xx-large;
    filter: grayscale(70%);
    &:hover {
      height: 60vh;
      width: 450px;
      filter: grayscale(0%);
      transition: 0.4s all ease-in-out;
    }
  }
}

@media only screen and (max-width:1000px) {
  .info {
    font-size: 2em;
    max-width: 200px;
  }
  .product {
    width: 500px;
    height: 50vh;
  }
  .image {
    height: 40vh;
    width: 200px;
    max-width: 600px;
    font-size: xx-large;
  }
  .thirdBanner {
    img {
      max-width: 400px;
      height: 300px;
    }
    span {
      max-width: 400px;
      h1 {
        margin-bottom: 30px;
        font-size: 1.8em;
      }
    }
  }
}

@media only screen and (min-width:900px) {
}

@media only screen and (max-width:900px) {
  .info {
    font-size: 2em;
    max-width: 200px;
  }
  .product {
    width: 400px;
    height: 50vh;
  }
  .thirdBanner {
    img {
      max-width: 400px;
      height: 300px;
    }
    span {
      background: rgba(241, 240, 240, 1);
      max-width: 100%;
      h1 {
        margin-bottom: 30px;
        font-size: 1.8em;
      }
    }
  }
}
