.addProducts {
    height: 92vh;
}

.addProducts form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addProducts form * {
    padding: 2px;
    margin: 5px;
}

.addProducts form button {
    width: 70px;
    height: 40px;
    font-size: x-large;
    border: none;
    background: white;
    color: #F9673B;
}

.editProducts {
    height: 92vh;
}
