* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #dedede;
}

.content {
  padding-top: 8vh;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.fourOhFour {
  max-width: 500px;
  margin: 0 auto;
  height: 92vh;
  text-align: center;
}

.fourOhFour h2 {
  margin-top: 50px;
  color: #F9673B;
}

.navbar {
  padding: 0;
  width: 100%;
  height: 8vh;
  position: fixed;
  top: 0;
  font-size: 1.3em;
  background: linear-gradient(145deg, #F9673B 16%, grey 10%);
  background-size: 100% 100%;
  box-shadow: 1px 1px 1px #888888;
  text-align: left;
  font-family: "Courier new", serif;
  transition: all 0.5s ease-in-out;
  z-index: 9;
}
.navbar .logo {
  color: grey;
  margin-left: 2%;
}
.navbar .logo #navLogo {
  font-family: "Courier New", serif;
  font-size: 2em;
  color: whitesmoke;
}
.navbar .navIcon {
  margin-right: 10px;
  color: white;
}
.navbar .navIcon:hover {
  cursor: pointer;
}
.navbar .navAccount {
  display: flex;
  flex-direction: row;
}
.navbar .loginIcon {
  background: white;
  color: #F9673B;
  border-radius: 50%;
  font-size: larger;
  padding: 5px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
}

.navlink {
  height: 30px;
  color: white;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  transition: 0.5s all ease-in-out;
  /* Add only on pc mode */
}
.navlink h5 {
  font-size: 1.25em;
}
.navlink:hover {
  padding: 5px;
  font-size: 1.3em;
  transition: 0.5s all ease-in-out;
}

/*@media only screen and (min-width:801px) {*/
/*  .navbar {*/
/*    width: 150px;*/
/*    position: fixed;*/
/*    height: 100%;*/
/*  }*/
/*  .menu-icon {*/
/*    height: 90px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    font-size: 2em;*/
/*  }*/
/*}*/
/*@media only screen and (min-width:1024px) {*/
/*  .navbar {*/
/*    width: 200px;*/
/*    position: fixed;*/
/*    height: 100%;*/
/*    overflow: auto;*/
/*  }*/
/*}*/
/*@media only screen and (max-width:1024px) {*/
/*  .navlink {*/
/*    border-left: none;*/
/*  }*/
/*  .navlink:hover {*/
/*    border: none;*/
/*    width: 100%;*/
/*  }*/
/*}*/
@media only screen and (max-width: 1150px) {
  .links {
    width: 90%;
  }
}
@media only screen and (max-width: 950px) {
  .navbar {
    display: none;
  }
}
.adminNavbar {
  position: fixed;
  width: 200px;
  height: 200px;
  box-shadow: 1px 1px 3px #888888;
  text-align: center;
  background: #eeeeee;
  margin-top: 8vh;
  overflow: scroll;
  z-index: 7;
  transition: 1s all ease-in-out;
  left: 50px;
  top: 0;
}
.adminNavbar h5 {
  font-size: x-large;
  padding: 5px;
}

.basketMenuOutter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.basketMenuOutter .basketSubmit {
  text-align: center;
  margin: 0 auto;
}
.basketMenuOutter .basketSubmit button {
  width: 50%;
  height: 50px;
  padding: 3px;
  font-size: x-large;
  margin: 10px auto;
  color: white;
  background: #F9673B;
  letter-spacing: 1.5px;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px #888888;
  transition: 0.5s all ease-in-out;
}
.basketMenuOutter .basketSubmit button:hover {
  box-shadow: none;
  width: 45%;
  transition: 0.5s all ease-in-out;
}

.basketMenuInner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.basketMenuInner .productDiv {
  height: 450px;
}
.basketMenuInner .productDiv h4 {
  margin: 0 auto;
  cursor: pointer;
  color: red;
}

.basketDrop {
  position: fixed;
  width: 200px;
  height: 200px;
  box-shadow: 1px 1px 3px #888888;
  text-align: center;
  background: #eeeeee;
  margin-top: 8vh;
  overflow: scroll;
  z-index: 7;
  transition: 1s all ease-in-out;
  right: -250px;
  top: 0;
  display: flex;
  flex-direction: column;
}
.basketDrop h5 {
  color: black;
  font-size: large;
  text-align: center;
}
.basketDrop .basketItem {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
}
.basketDrop .basketItem img {
  width: 25%;
}
.basketDrop .basketItem h4, .basketDrop .basketItem h3 {
  margin: 0 auto;
}
.basketDrop .basketItem h3 {
  color: red;
  font-weight: bolder;
}
.basketDrop .basketItem h3:hover {
  cursor: pointer;
}

.basketDrop-active {
  right: 50px;
  top: 0;
  transition: 1s all ease-in-out;
}

.accountForm {
  max-width: 500px;
  margin: 0 auto;
  height: 92vh;
  text-align: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.accountForm form {
  background: #a3a3a3;
  width: 400px;
  color: white;
  font-size: larger;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.accountForm form button {
  width: 50%;
  height: 50px;
  padding: 3px;
  font-size: x-large;
  margin: 10px auto;
  color: white;
  background: #F9673B;
  letter-spacing: 1.5px;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px #888888;
  transition: 0.5s all ease-in-out;
}
.accountForm form button:hover {
  box-shadow: none;
  width: 45%;
  transition: 0.5s all ease-in-out;
}
.accountForm form input {
  background: none;
  border: none;
  border-bottom: 2px solid white;
  transition: 0.4s all ease-in-out;
}
.accountForm form input:focus {
  border-bottom: 2px solid #F9673B;
  outline: none;
  transition: 0.4s all ease-in-out;
}

.formRegister form {
  height: 450px;
}

.formLogin form {
  height: 350px;
}

.contactNoLogged {
  margin: 0 auto;
  height: 92vh;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 650px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: larger;
}
.form form button {
  width: 50%;
  height: 50px;
  padding: 3px;
  font-size: x-large;
  margin: 10px auto;
  color: white;
  background: #F9673B;
  letter-spacing: 1.5px;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px #888888;
  transition: 0.5s all ease-in-out;
}
.form form button:hover {
  box-shadow: none;
  width: 45%;
  transition: 0.5s all ease-in-out;
}
.form form * {
  margin: 5px;
}

.contactMessages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1600px;
  margin: 0 auto;
}

.contactMessage {
  max-width: 450px;
  width: 400px;
  height: 440px;
  background: white;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contactMessage h3 {
  width: 100%;
  border-bottom: 2px solid #F9673B;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 92vh;
  text-align: center;
}
.banner .info {
  max-width: 800px;
  margin: 0 auto;
  color: #F9673B;
  font-size: 5em;
  font-family: Helvetica, cursive;
  text-align: center;
}
.banner .product {
  width: 700px;
  height: 80vh;
  margin: 0 auto;
  border-radius: 10px 10px 10px 15px;
  background-size: 160% 100%;
  background-position: center;
}

.secondBanner {
  background: #5e5e5e;
}
.secondBanner .image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 55vh;
  width: 400px;
  max-width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: xx-large;
  filter: grayscale(70%);
  transition: 0.4s all ease-in-out;
}
.secondBanner .image h1 {
  color: white;
  background: rgba(249, 103, 59, 0.5);
}
.secondBanner .image:hover {
  height: 60vh;
  width: 450px;
  filter: grayscale(0%);
  transition: 0.4s all ease-in-out;
}

.thirdBanner {
  background: linear-gradient(90deg, #F9673B 20%, #f1f0f0 10%);
  background-size: 100% 100%;
}
.thirdBanner img {
  border-bottom-right-radius: 10%;
  border-top-right-radius: 10%;
  transform: rotate(180deg);
  max-width: 850px;
  height: 550px;
}
.thirdBanner span {
  max-width: 700px;
  color: #F9673B;
  font-size: 2.5em;
  letter-spacing: 1.6px;
  font-family: Helvetica, cursive;
  text-align: center;
}
.thirdBanner span h1 {
  margin-bottom: 30px;
  color: #F9673B;
}

.fourthBanner {
  background: linear-gradient(340deg, #a8a8a8 20%, #f1f0f0 10%);
  background-size: 100% 100%;
}
.fourthBanner img {
  border-bottom-left-radius: 10%;
  border-top-left-radius: 10%;
  max-width: 800px;
  height: 600px;
}
.fourthBanner span {
  max-width: 700px;
  color: #2b2b2b;
  letter-spacing: 2px;
  font-size: 2em;
  font-family: Helvetica, cursive;
  text-align: center;
}
.fourthBanner span h1 {
  margin-bottom: 30px;
  color: #F9673B;
}

.fifthBanner {
  background: #f1f0f0;
}
.fifthBanner img {
  border-bottom-right-radius: 10%;
  border-top-right-radius: 10%;
  max-width: 800px;
  height: 600px;
}
.fifthBanner span {
  max-width: 700px;
  color: #F9673B;
  letter-spacing: 2px;
  font-size: 2em;
  font-family: Helvetica, cursive;
  text-align: center;
}
.fifthBanner span h1 {
  margin-bottom: 30px;
  color: #2b2b2b;
}

.sixthBanner hr {
  width: 50%;
  background: grey;
}
.sixthBanner span {
  border-bottom: 1px solid darkgrey;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  background: whitesmoke;
  width: 350px;
  max-width: 350px;
  height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.sixthBanner span h1 {
  color: #F9673B;
}

.seventhBanner {
  flex-direction: column;
  text-align: center;
}
.seventhBanner h1 {
  margin-bottom: 20px;
}
.seventhBanner a h1 {
  color: #F9673B;
  transition: 0.4s all ease-in-out;
}

.partialBanner {
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productsDiv {
  margin: 0 auto;
  max-width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.productDiv {
  max-width: 450px;
  width: 350px;
  height: 440px;
  background: white;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.productDiv img {
  width: 70%;
  height: 50%;
}
.productDiv button {
  width: 50%;
  height: 50px;
  padding: 3px;
  font-size: x-large;
  margin: 10px auto;
  color: white;
  background: #F9673B;
  letter-spacing: 1.5px;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px #888888;
  transition: 0.5s all ease-in-out;
  width: 80%;
  height: 45px;
}
.productDiv button:hover {
  box-shadow: none;
  width: 45%;
  transition: 0.5s all ease-in-out;
}
.productDiv button:hover {
  box-shadow: none;
  width: 75%;
  transition: 0.5s all ease-in-out;
}

/*# sourceMappingURL=style.css.map */
